In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
data_path = './data/combined_data.csv'

## 读入数据

In [4]:
raw_data = pd.read_csv(data_path)
raw_data.head()

,WindNumber,Time,WindSpeed,Power,RotorSpeed,Width,RatedPower,CutInWindSpeed,CutOutWindSpeed,WheelSpeedMin,WheelSpesdMax
0,1,2017/11/1 0:20,4.188333,65.750000,5.779167,99.0,2000,3.0,25,8.33,16.8
1,1,2017/11/1 0:30,4.042500,120.700000,8.636500,99.0,2000,3.0,25,8.33,16.8
2,1,2017/11/1 0:40,4.137368,135.157895,8.668421,99.0,2000,3.0,25,8.33,16.8
3,1,2017/11/1 0:50,4.274737,157.315789,8.727895,99.0,2000,3.0,25,8.33,16.8
4,1,2017/11/1 1:00,4.108947,129.894737,8.656842,99.0,2000,3.0,25,8.33,16.8

In [5]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497837 entries, 0 to 497836
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   WindNumber       497837 non-null  int64
 1   Time             497837 non-null  object
 2   WindSpeed        497837 non-null  float64
 3   Power            497837 non-null  float64
 4   RotorSpeed       497837 non-null  float64
 5   Width            497837 non-null  float64
 6   RatedPower       497837 non-null  int64
 7   CutInWindSpeed   497837 non-null  float64
 8   CutOutWindSpeed  497837 non-null  int64
 9   WheelSpeedMin    497837 non-null  float64
 10  WheelSpesdMax    497837 non-null  float64
dtypes: float64(7), int64(3), object(1)
memory usage: 41.8+ MB